*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #19181e;
}
.principal{
    background-color: #19181e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal #Header{
    text-align: center;
}
.alert_Empty{
    position: absolute;
    top: 0;
    z-index: 5;
}
.Principal .title{
    text-align: center;
    padding: 10px;
    color: white;
}
.Principal{
	background-color: #19181e;
	height: 100vh;
}
.open{
	text-align:  center;
	padding: 10px;
}
.disable{
	display: none;
}
#Month{
	width: 80px;
}
#year{
	width: 80px;
}
#cvv{
	width: 80px;
}
#betForm{
	display: flex;
    justify-content: center;
    align-items: center;
}
#openBet{
	margin-left:10px;
	width: 200px;
}
#amountBet{
	width: 200px;
}
#colorBet{
	width: 200px;
	height: 40px;
	border-radius: 5px;
}